body {
  font-family: Arial, Helvetica, sans-serif;
}

input, #submit {
  border-radius: 5px;
}

#todoField {
  line-height: 28px;
  width: 300px;
  border: 1px #999999 solid;
  padding: 0 5px;
}

input:focus, button:focus {
  outline: none;
}

input:focus:invalid {
  box-shadow: none;
}

#submit {
  cursor: pointer;
  padding: 6px 15px;
  font-size: medium;
  text-align: center;
  color: #fbfbfb;
  background-color: #b584d1;
  border: 0px;
}

ul {
  list-style: none;
}

li {
  padding: 0;
  font-size: 1.2rem;
}

input[type="checkbox"] {
  cursor: pointer;
}

.delete {
  background: none;
  border: none;
  margin: 0;
  padding-left: 12px;
  font-size: 1rem;
}

.completed {
  text-decoration: line-through;
}